<div class="flex flex-col justify-center items-center my-32 space-y-12">
  <h1 class="font-medium text-4xl tracking-wide flex flex-col items-center">
    <span class="bg-[#19122e] block p-6 w-fit mb-8 rounded-md">
      Hey, I'm Difa
    </span>
    <span>a <span class="font-semibold bg-clip-text text-transparent bg-gradient-to-br from-pink-400 to-blue-700">web developer</span> with</span>
  </h1>
  <p class="text-center w-3/4">
    Experience on make a simple, futuristic, clean, illustrated, and high-quality websites.
  </p>
</div>